
  <div class="container mt-5">
    <div class="row">
      <h1 class="mx-auto" style="width: 200px;">SEC</h1>
    </div>
    <div class="row">
      <h5 class="mx-auto" style="width: 420px;">(System Engineer Communication)</h5>
    </div>
    <div class="row">
      <p class="mx-auto text-danger" style="width: 650px;">
        プログラミングの質問サイトです。プログラミングに関する質問をマークダウン記法を使って投稿できます。
        質問に回答をし、いいねをもらうとユーザーレベルが上がっていきます。
      </p>
    </div>
  </div>

