<div class="container mt-5">
  <div class="row">
    <h1 class="mx-auto" style="width: 200px;">SEC</h1>
  </div>
  <div class="row">
    <h5 class="mx-auto" style="width: 420px;">(System Engineer Communication)</h5>
  </div>
  <div class="row mt-5">
    <p class="mx-auto text-primary" style="width: 650px;">
      プログラミング学習専用質問サイトです。あなたの質問に対して他のユーザーが回答をくれます。
      あなたが他のユーザーの質問に回答することもできます。
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h3 class="mx-auto" style="width: 200px;">質問フォーム</h3>
      <div class="container">
        <form>
          <div class="form-group mx-auto" style="width: 200px;">
            <label>質問投稿</label>
            <div class="row height-60">
              <div class="col-lg-19">
                <input type="text" class="form-control"  placeholder="質問内容">
              </div>
            </div>
          </div>
        </form>
      </div>
      <p class="mx-auto" style="width: 200px;">
        マークダウン方式で質問を入力し
        送信ボタンをクリックすると
        質問を投稿できます。他ユーザーの回答を待とう。
      </p>
    </div>
    <div class="col-6">
      <h3 class="form-group mx-auto" style="width: 200px;">回答フォーム</h3>
      <div class="container">
        <form>
          <div class="form-group mx-auto" style="width: 200px;">
            <label>回答内容</label>
            <div class="row height-60">
              <div class="col-lg-19">
                <input type="text" class="form-control"  placeholder="回答内容">
              </div>
            </div>
          </div>
        </form>
      </div>
      <p class="mx-auto" style="width: 200px;">
        質問に対してマークダウン方式で回答することができます。
        いいね！が溜まるとユーザーレベルが上がっていきます。
    </div>
  </div>
</div>