<div class="container mt-5">
  <h1>ジャンル編集</h1>
  <%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
   <h3>ジャンル名</h3>
   <%= f.text_field :name, :placeholder => "ジャンル名" %>
   <%= f.submit "変更" %>

  <% end %>
</div>