<div class="container mt-5">
  <h1>管理者側　質問ステータス編集</h1>

  <div>
   <%= form_with model: @question_status, url: admin_question_status_path(@question_status.id), local:true do |f| %>
    <h4>質問ステータス</h4>
    <%= f.text_area :status, :size=>"60x5", :placeholder => "質問ステータスを記入" %>
    <%= f.submit "変更" %>
   <% end %>
  </div>
</div>