<h1>管理者側　質問ステータス登録</h1>

<div>
  <h2>質問ステータス登録</h2>
 <%= form_with model: @question_status, url: admin_question_statuses_path, local:true do |f| %>
  <h4>質問ステータス</h4>
  <%= f.text_area :status, :placeholder => "質問ステータスを記入" %>
  <%= f.submit "登録" %>
 <% end %>
</div>