<h1>ユーザー側　ユーザー一覧</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>画像</th>
        <th>ユーザー名</th>
        <th>ひとこと</th>
        <th>レベル</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= attachment_image_tag user, :image, size: '70x70', fallback: "no_image.jpg", size: '70x70' %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>